<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset="utf-8" />
    <link href="../static/css/common.css?t=22sss2s1ss1" rel="stylesheet" /> 
    <script src="../static/js/jquery-2.1.0.min.js"></script>  
    <script src="../static/js/main.js"></script>
</head>
<body> 
    <div id="box">
        <div id="top">
            <h1 class="logo"></h1>
            <div class="object">
                <b>TMZ</b>
                <a>切换项目</a>
            </div>
            <div class="menu-container">
                <div id="menu" class="select">
                    <p>剧本拆分列表</p>
                    <div>
                        <a>预算</a>
                        <a>日历</a>
                        <a>进度</a>
                        <a>项目管理</a>
                        <a>用户管理</a>
                        <a>表格管理</a>
                    </div>
                </div>
                <div class="msg">
                    <a id="msg"><i>0</i></a>
                    <div>
                        <span id="close-msg"></span>
                        <p>09:00:00 AM 编号：00001 剧本有更新，请您审核！</p>
                        <p>09:00:00 AM 编号：00001 剧本有更新，请您审核！</p>
                        <p>09:00:00 AM 编号：00001 剧本有更新，请您审核！</p>
                        <p>09:00:00 AM 编号：00001 剧本有更新，请您审核！</p>
                    </div>
                </div>
                <div class="user"><span>您好，administrator</span></div>
                <div id="setting" class="setting">
                    <span></span>
                    <div>
                        <a>修改密码</a>
                        <a>系统管理</a>
                        <a>退出登录</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="content">
            <div class="story-main"> 
                <div class="story-form-container">
                    <span>项目名称：</span><b>TM</b>
                    <span>场次：</span>
                    <select class="form-control">
                        <option value="Ep001">Ep001</option>
                    </select>
                    <span>镜头：</span>
                    <select class="form-control">
                        <option value="Ep001">全部</option>
                    </select>
                    <div class="fr">
                        <button class="btn hs">返回</button>
                    </div>
                </div>
                <div class="story-content">
                    <ul>
                        <li><img src="/static/img/story.png" /></li>
                        <li><img src="/static/img/story.png" /></li>
                        <li><img src="/static/img/story.png" /></li>
                        <li><img src="/static/img/story.png" /></li>
                        <li><img src="/static/img/story.png" /></li>
                        <li><img src="/static/img/story.png" /></li>
                        <li><img src="/static/img/story.png" /></li>
                        <li><img src="/static/img/story.png" /></li>
                        <li><img src="/static/img/story.png" /></li>
                        <li><img src="/static/img/story.png" /></li>
                        <li><img src="/static/img/story.png" /></li>
                        <li><img src="/static/img/story.png" /></li>
                        <li><img src="/static/img/story.png" /></li>
                        <li><img src="/static/img/story.png" /></li>
                        <li><img src="/static/img/story.png" /></li>
                        <li><img src="/static/img/story.png" /></li>
                        <li><img src="/static/img/story.png" /></li>
                        <li><img src="/static/img/story.png" /></li>
                        <li><img src="/static/img/story.png" /></li>
                        <li><img src="/static/img/story.png" /></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="footer">© Copyright 2017 首汇焦点</div>
    </div> 
</body>
</html>
