
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <meta charset="utf-8"/>
    <link href="../static/css/common.css?t=12" rel="stylesheet"/>

</head>
<body>
<div id="box">
    <div id="top">
        <h1 class="logo"></h1>

        <div class="object">
            <b>TMZ</b>
            <a>切换项目</a>
        </div>
        <div class="menu-container">
            <div id="menu" class="select">
                <p>剧本拆分列表</p>

                <div>
                    <a>预算</a>
                    <a>日历</a>
                    <a>进度</a>
                    <a>项目管理</a>
                    <a>用户管理</a>
                    <a>表格管理</a>
                </div>
            </div>
            <div class="msg">
                <a id="msg"><i>0</i></a>

                <div>
                    <span id="close-msg"></span>

                    <p>09:00:00 AM 编号：00001 剧本有更新，请您审核！</p>

                    <p>09:00:00 AM 编号：00001 剧本有更新，请您审核！</p>

                    <p>09:00:00 AM 编号：00001 剧本有更新，请您审核！</p>

                    <p>09:00:00 AM 编号：00001 剧本有更新，请您审核！</p>
                </div>
            </div>
            <div class="user"><span>您好，administrator</span></div>
            <div id="setting" class="setting">
                <span></span>

                <div>
                    <a>修改密码</a>
                    <a>系统管理</a>
                    <a>退出登录</a>
                </div>
            </div>
        </div>
    </div>

    <div id="content" class="tabfix">

        <ul class="split-tab-wrap" id="tab">
                <li class="current">顺场景表</li>
                <li>分场景表</li>
                <li>采景表</li>
                <li>角色统计</li>
        </ul>

        <!-- 顺场景表 -->
        <div class="split-total-box boxsizing">
            
            <div class="split-total-data-filter">
                <button id="" class="btn ls">设置项</button>
                <button id="" class="btn ls">筛选</button>
                <button class="btn ls" onclick="exportExcel('tableExcel')">导出</button>
          </div>
            <div id="total-data" class="total-data">
                <table id="" cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                    <tr class="total-data-head">
                      <td rowspan="2" >序号</td>
                        <td rowspan="2" >集数<br></td>
                        <td rowspan="2" >场次</td>
                        <td rowspan="2" >镜头<br></td>
                        <td rowspan="2" >场景标题<br></td>
                        <td rowspan="2" >场景</td>
                      <td rowspan="2" >气氛</td>
                        <td rowspan="2" >内外</td>
                      <td rowspan="2" >拍摄内容</td>
                        <td rowspan="2" >场字数<br></td>
                        <td rowspan="2" >男主字数</td>
                        <td rowspan="2" >女主字数</td>
                        <td rowspan="2" >页数</td>
                        <td rowspan="2" >顾天成</td>
                        <td rowspan="2" >特约演员</td>
                        <td rowspan="2" >道具</td>
                        <td rowspan="2" >服装/化妆</td>
                        <td colspan="7" >视觉特效</td>
                        <td rowspan="2" >特效<br>
                        类型</td>
                    <td rowspan="2" >特效<br>
                      名称</td>
                    <td rowspan="2" >特效<br>
                      描述</td>
                    <td rowspan="2" >镜头<br>
                      数量</td>
                    <td rowspan="2" >物理<br>
                      特效</td>
                    </tr>
                    <tr class="total-data-head">
                      <td >assets</td>
                    <td >fx</td>
                      <td >dmp</td>
                      <td >comp</td>
                      <td >ls</td>
                      <td >CG<br>
                      Studio</td>
                      <td >Complex<br>
                        ity</td>
                    </tr>
                    <tr class="total-data-body">
                        <td>0</td>
                        <td>1</td>
                        <td>1</td>
                        <td></td>
                        <td>1. 城市街头 日</td>
                        <td>&nbsp;</td>
                        <td>0</td>
                        <td>0</td>
                        <td>-</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>0</td>
                        <td>顾天成</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td colspan="7">&nbsp;</td>
                        <td colspan="3"><table width="200" border="1" cellpadding="0" cellspacing="0">
                          <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                          </tr>
                        </table></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    </tr>
                    <tr class="total-data-body">
                        <td>0</td>
                        <td>1</td>
                        <td>2</td>
                        <td></td>
                        <td>2. 片头字幕画面</td>
                        <td>&nbsp;</td>
                        <td>0</td>
                        <td>0</td>
                        <td>-</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>0</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td colspan="7">&nbsp;</td>
                        <td colspan="3">&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    </tr>
                    <tr class="total-data-body">
                        <td>0</td>
                        <td>1</td>
                        <td>3</td>
                        <td></td>
                        <td>3. 城市公路／地下飙车聚点</td>
                        <td>&nbsp;</td>
                        <td>0</td>
                        <td>0</td>
                        <td>-</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>0</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td colspan="7">&nbsp;</td>
                        <td colspan="3">&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
       

        <!-- 分场景表 -->
        <div class="split-total-box boxsizing">        
            <div class="split-total-data-filter">
                <button id="" class="btn ls">设置项</button>
                <button class="btn ls" onclick="exportExcel('tableExcel')">导出</button>
          </div>
            <div id="total-data" class="total-data">
                <table id="tableFCExcel" cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                    <tr class="total-data-head">
                        <td rowspan="2">分场序<br>号</td>
                        <td rowspan="2">集数</td>
                        <td rowspan="2">场数</td>
                        <td rowspan="2">场次</td>
                        <td rowspan="2">场景名称</td>
                        <td rowspan="2">场景4</td>
                        <td rowspan="2">场景3</td>
                        <td rowspan="2">场景2</td>
                        <td rowspan="2">场景1</td>
                        <td rowspan="2">季节</td>
                        <td rowspan="2">气氛</td>
                        <td rowspan="2">内外</td>
                        <td rowspan="2">拍摄内容</td>
                        <td rowspan="2">场字数</td>
                        <td rowspan="2">男主字数</td>
                        <td rowspan="2">女主字数</td>
                        <td rowspan="2">页数</td>                 
                        <td rowspan="2">顾天成</td>
                        <td rowspan="2">特约演员</td>
                        <td rowspan="2">群众演员</td>
                        <td rowspan="2">道具</td>
                        <td rowspan="2">服装/化妆</td>
                        <td colspan="7">视觉特效</td>
                        <td rowspan="2">特效<br>类型</td>
                        <td rowspan="2">特效<br>名称</td>
                        <td rowspan="2">特效<br>描述</td>
                        <td rowspan="2">镜头<br> 数量</td>
                        <td rowspan="2">物理<br>特效</td>
                    </tr>
                    <tr class="total-data-head">
                        <td>assets</td>
                        <td>fx</td>
                        <td>dmp</td>
                        <td>comp</td>
                        <td>ls</td>
                        <td>CG<br>
                            Studio
                        </td>
                        <td>Complex<br>
                            ity
                        </td>
                    </tr>
                    
                    <tr class="total-data-body"><td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>                   
                        <td>&nbsp;</td>          
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td><br>
                            </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td colspan="3"><table width="200" border="1" cellpadding="0" cellspacing="0">
                          <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                          </tr>
                        </table></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
  				</tbody>
                </table>
            </div>
        </div>

        <!-- 采景表 -->
        <div class="split-total-box boxsizing">        
            <div class="split-total-data-filter">
                <button class="btn ls" onclick="exportExcel('tableExcel')">导出</button>
          </div>
            <div id="total-data" class="total-data">
                <table id="tableExcel" cellpadding="0" cellspacing="0" border="0">
                  <tbody>
                    <tr class="total-data-head">
                      <td >序号</td>
                      <td >场次</td>
                      <td >页数<br></td>
                      <td >场景2</td>
                      <td >场景1（明细）</td>
                      <td >预估天数</td>
                      <td >备选地址1</td>
                      <td >备选地址2</td>
                    </tr>
                    <tr class="total-data-body">
                      <td>1</td>
                      <td>A</td>
                      <td>B</td>
                      <td>购物中心</td>
                      <td>1. 城市街头 日</td>
                      <td>C</td>
                      <td>D</td>
                      <td>E</td>
                    </tr>
                    <tr class="total-data-body">
                      <td>2</td>
                      <td>1</td>
                      <td>2</td>
                      <td></td>
                      <td>2. 片头字幕画面</td>
                      <td>&nbsp;</td>
                      <td>0</td>
                      <td>0</td>
                    </tr>
                    <tr class="total-data-body">
                      <td>3</td>
                      <td>1</td>
                      <td>3</td>
                      <td></td>
                      <td>3. 城市公路／地下飙车聚点</td>
                      <td>&nbsp;</td>
                      <td>0</td>
                      <td>0</td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>

        <!-- 角色统计 -->
        <div class="split-total-box boxsizing">
            
            <div class="split-total-data-filter">
   
                <button class="btn ls" onclick="exportExcel('tableExcel')">导出</button>
          </div>
            <div id="total-data" class="total-data">
                <table id="tableExcel" cellpadding="0" cellspacing="0" border="0">
                  <tbody>
                    <tr class="total-data-head">
                      <td >序号</td>
                      <td >角色
<div class="thead-slash"></div>集数</td>
                      <td >1</td>
                      <td >2</td>
                      <td >3</td>
                      <td >4</td>
                      <td >5</td>
                      <td >6</td>
                      <td >7</td>
                      <td >8</td>
                      <td >9</td>
                      <td >10</td>
                      <td >总页数</td>
                      <td >总集数</td>
                    </tr>
                    <tr class="total-data-body">
                      <td>0</td>
                      <td>熊大</td>
                      <td>页数</td>
                      <td></td>
                      <td>&nbsp;</td>
                      <td>-</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>-</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>60</td>
                      <td>7</td>
                    </tr>
                    <tr class="total-data-body">
                      <td>0</td>
                      <td>熊二</td>
                      <td>0.45</td>
                      <td></td>
                      <td>&nbsp;</td>
                      <td>-</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>-</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>15</td>
                      <td>3</td>
                    </tr>
                    <tr class="total-data-body">
                      <td>0</td>
                      <td>熊三</td>
                      <td>&nbsp;</td>
                      <td></td>
                      <td>&nbsp;</td>
                      <td>-</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>-</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>

    </div>

    <div id="footer">© Copyright 2017 首汇焦点</div>
</div>
<script src="../static/js/jquery-2.1.0.min.js"></script>
<script src="../static/js/main.js"></script>
<script src="../static/js/common.js"></script>
<script type="text/javascript">
    $(function () {
        
            //tab 切换
            var $li = $('#tab li');
            var $cont = $('#content .split-total-box');
                        
            $li.click(function(){
                var $this = $(this);
                var $no = $this.index();
                $li.removeClass();
                $this.addClass('current');
                $cont.css('display','none');
                $cont.eq($no).css('display','block');
            })


    });


</script>
</body>
</html>
