<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset="utf-8" />
    <link href="../static/css/common.css?t=122" rel="stylesheet" />
    <script src="../static/js/jquery-2.1.0.min.js"></script> 
    <script src="../static/js/script-cf.js?t=12313331"></script>
    <script src="../static/js/main.js"></script> 
</head>
<body> 
    <div id="box">
        <div id="top">
            <h1 class="logo"></h1>
            <div class="object">
                <b>TMZ</b>
                <a>切换项目</a>
            </div>
            <div class="menu-container">
                <div id="menu" class="select">
                    <p>剧本拆分列表</p>
                    <div>
                        <a>预算</a>
                        <a>日历</a>
                        <a>进度</a>
                        <a>项目管理</a>
                        <a>用户管理</a>
                        <a>表格管理</a>
                    </div>
                </div>
                <div class="msg">
                    <a id="msg"><i>0</i></a>
                    <div>
                        <span id="close-msg"></span>
                        <p>09:00:00 AM 编号：00001 剧本有更新，请您审核！</p>
                        <p>09:00:00 AM 编号：00001 剧本有更新，请您审核！</p>
                        <p>09:00:00 AM 编号：00001 剧本有更新，请您审核！</p>
                        <p>09:00:00 AM 编号：00001 剧本有更新，请您审核！</p>
                    </div>
                </div>
                <div class="user"><span>您好，administrator</span></div>
                <div id="setting" class="setting">
                    <span></span>
                    <div>
                        <a>修改密码</a>
                        <a>系统管理</a>
                        <a>退出登录</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="content">
            <div class="cf-box boxsizing">
                <div class="clearfix" style="margin-top:-34px;padding-bottom:5px;">
                    <div class="fl">
                        <button class="btn ls">报告</button>
                    </div> 
                    <div class="fr">
                        <button class="btn hs">返回</button>
                    </div>
                </div>
                <div class="cf-container">
                    <div class="title">
                        <p>
                            <span class="head-left">#</span>
                            <span class="head-right">标题</span> 
                        </p> 
                        <div>
                            <table cellpadding='0' cellspacing='0' border='0'>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                                <tr class="body">
                                    <td>1-1</td>
                                    <td>一，楼顶天台，外，日</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="cf-content">
                        <div class="cf-menu clearfix">
                            <b>剧本内容：</b>
                            <div id="editControls" class="clearfix">  
                                <button id="btnFind" class="cancel btn lans">搜索</button>
                                <button id="btnReplace" class="cancel btn lans">替换</button>
                                <button id="btnUpdate" class="cancel btn lans">修订</button>
                                <button id="btnAddTag" class="cancel btn lans">书签</button>
                                <button id="btnSave" class="save btn ls">保存</button>
                            </div> 
                        </div>
                        <div id="cf-main" class="cf-main" data-length="5535">
                             <div id="scene1" class="cf-split" data-id="1" data-json='{"episode":"","scene":"","dn":"","INTEXT":"","sceneName":"","toShoot":"","pagesNumber":"","amount":"","season":"","total":"","explain":""}'>
                                 <div class="cf-edit" data-id="1"> 
                                 </div>
                                 <i class="split"></i><span id="split-data-cc-1" class="cc">
                                     <b data-id="1">场次</b><input type="text" class="form-control ccinput" value="1">
                                         第一集

                                         林夏站在楼顶天台上。




                                         风声呼啸，发丝飞舞。




                                         从楼顶往下看，楼下的大街上黑鸦鸦一片黑点状的人头
                                     
                                 </span><i class="end"></i>。










                                 楼下大街上人声嘈杂，路人们纷纷驻足，翘着脖子仰望。<i class="start"></i><span id="split-data-jt-4" class="jt">
                                     <b data-id="4">镜头</b>




                                         媒体记者们扛着摄像机在寻找着最佳点位。
                                     
                                 </span><i class="end"></i>&nbsp;警察们在拉着警戒线，劝导人群退后。










                                 天台上的林夏对楼下的一切无动于衷，只是把放在耳边的手机拿下，按下重拨键，再放在耳边。




                                 手机中传来接通的长音，却始终无人接听。




                                 林夏神情有些茫然，脚步微微往前挪动了半步。<i class="start"></i><span id="split-data-jt-5" class="jt">
                                     <b data-id="5">镜头</b>










                                         楼下大街上的各色围观人等一阵骚动。
                                     
                                 </span><i class="end"></i>&nbsp;一个中年妇女

                                 ：啊，她要跳啦！




                                 套着红袖标的居委会大妈用喇叭高喊："姑娘你要冷静啊！生命诚可贵，爱情??不对，爱情诚可贵，生命价更高啊！"










                                 林夏在手机上输着短信。




                                 （特写）手机上内容：<i class="start"></i><span id="split-data-dh-6" class="dh"><b data-id="6">对话</b>七点整你再不出现，我就从我家楼顶跳下去。</span><i class="end"></i>&nbsp;此刻手机时间显示：PM6：53




                                 林夏深吸一口气，按下了发送键。




                                 手机屏幕上显示出接收信息者的名字--疯子。




                                 远处传来消防车和救护车的鸣叫声，鸣叫声越来越近。










                                 口袋里的手机"颤抖"不停、荧光闪烁。&nbsp;<i class="start"></i><span id="split-data-dh-7" class="dh"><b data-id="7">对话</b>口袋的主人程锋和一个大眼女孩对坐在卡</span><i class="end"></i>座内。




                                 程锋没有理会口袋中的手机，把个一元硬币放在杯子里，然后晃动杯子，硬币在杯中发出清脆的声音。




                                 程锋忽然把杯子倒扣过来，钱币已经不知所踪。




                                 程锋故弄玄虚地伸出拳，示意对桌的大眼女孩向里面吹一口气。&nbsp;<i class="start"></i><span id="split-data-db-8" class="db">
                                     <b data-id="8">独白</b>
                                         女孩茫然的照做后就被程锋抓住了手----




                                         他轻拍杯底
                                     
                                 </span><i class="end"></i>，钱币从杯子里掉落在女孩的手中。




                                 "啊??"女孩夸张地叫着。




                                 程锋趁势靠进女孩："想知道为什么吗？"




                                 "想??"女孩闪动双眼，表演纯情。
                             </div>
                             <div id="scene2" class="cf-split" data-json='{"episode":"","scene":"","dn":"","INTEXT":"","sceneName":"","toShoot":"","pagesNumber":"","amount":"","season":"","total":"","explain":""}'>
                                <div class="cf-edit">
                                    <a data-id="2">编辑</a>
                                </div>
                                <i class="split"></i><span id="split-data-cc-2" class="cc">
                                    <b data-id="2">场次</b><input type="text" class="form-control ccinput" value="2">




                                        "那除非??"程锋坏笑着"??你陪我去看场电影？"










                                        手机上的时间显示已经七点二十分。




                                        林夏绝望地看着手机。
                                    
                                </span><i class="end"></i>&nbsp;林夏突然发泄般地叫着："啊------"把手机扔了出去。




                                （升格）手机在空中翻腾着。










                                手机啪地坠落在地，粉身碎骨。




                                悄然躁动的围观人群再次混乱起来，有好事的中年妇女发出了凄厉尖叫。&nbsp;<i class="start"></i><span id="split-data-jt-9" class="jt"><b data-id="9">镜头</b>消防人员忙碌地在地上准备着充气救生垫。&nbsp;</span><i class="end"></i>一辆救护车猛地停下，打开的车门上跳下几个穿着白大褂的医护人员。




                                吴狄，肥四和石小猛就在这一片兵荒马乱中杀了出来。




                                一个青年警察上前拦阻着三人：挤什么，挤什么？平时缴税没见你们这么积极，一看有人自杀就亢奋了？&nbsp;<i class="start"></i><span id="split-data-dh-10" class="dh"><b data-id="10">对话</b>吴狄指着高处的林夏："同志，那人是我朋友！</span><i class="end"></i>"




                                警察："女朋友？"




                                吴狄："不??就是朋友??"




                                石小猛："确切的说我们是她男朋友的朋友！和她也算是朋友！"




                                警察："那她男朋友人呢？有没有点责任心啊？"

                                第一集

                                林夏站在楼顶天台上。




                                风声呼啸，发丝飞舞。




                                从楼顶往下看，楼下的大街上黑鸦鸦一片黑点状的人头。










                                楼下大街上人声嘈杂，路人们纷纷驻足，翘着脖子仰望。




                                媒体记者们扛着摄像机在寻找着最佳点位。




                                警察们在拉着警戒线，劝导人群退后。&nbsp;<i class="start"></i><span id="split-data-dh-11" class="dh"><b data-id="11">对话</b>天台上的林夏对楼下的一切无动于衷，只是把放在耳边的手机拿下</span><i class="end"></i>，按下重拨键，再放在耳边。




                                手机中传来接通的长音，却始终无人接听。




                                林夏神情有些茫然，脚步微微往前挪动了半步。










                                楼下大街上的各色围观人等一阵骚动。




                                一个中年妇女

                                ：啊，她要跳啦！




                                套着红袖标的居委会大妈用喇叭高喊："姑娘你要冷静啊！生命诚可贵，爱情??不对，爱情诚可贵，生命价更高啊！"










                                林夏在手机上输着短信。




                                （特写）手机上内容：七点整你再不出现，我就从我家楼顶跳下去。




                                此刻手机时间显示：PM6：53




                                林夏深吸一口气，按下了发送键。




                                手机屏幕上显示出接收信息者的名字--疯子。




                                远处传来消防车和救护车的鸣叫声，鸣叫声越来越近。










                                口袋里的手机"颤抖"不停、荧光闪烁。




                                口袋的主人程锋和一个大眼女孩对坐在卡座内。&nbsp;
                            </div>
                             <div id="scene3" class="cf-split" data-json='{"episode":"","scene":"","dn":"","INTEXT":"","sceneName":"","toShoot":"","pagesNumber":"","amount":"","season":"","total":"","explain":""}'>
                                <div class="cf-edit">
                                    <a data-id="3">编辑</a>
                                </div>
                                <i class="split"></i><span id="split-data-cc-3" class="cc"><b data-id="3">场次</b><input type="text" class="form-control ccinput">程锋没有理会口袋中的手机，把个一元硬币放在杯子里，然后晃动杯子，硬币在杯中发出清脆的声音。</span><i class="end"></i>&nbsp;程锋忽然把杯子倒扣过来，钱币已经不知所踪。




                                程锋故弄玄虚地伸出拳，示意对桌的大眼女孩向里面吹一口气。




                                女孩茫然的照做后就被程锋抓住了手----




                                他轻拍杯底，钱币从杯子里掉落在女孩的手中。<i class="start"></i><span id="split-data-jt-12" class="jt">
                                    <b data-id="12">镜头</b>




                                        "啊??"女孩夸张地叫着。




                                        程锋趁势靠进女孩："想知道为什么吗？"




                                        "想??"女孩闪动双眼，表演纯情。
                                    
                                </span><i class="end"></i>&nbsp;"那除非??"程锋坏笑着"??你陪我去看场电影？"










                                手机上的时间显示已经七点二十分。




                                林夏绝望地看着手机。




                                林夏突然发泄般地叫着："啊------"把手机扔了出去。




                                （升格）手机在空中翻腾着。










                                手机啪地坠落在地，粉身碎骨。<i class="start"></i><span id="split-data-db-13" class="db">
                                    <b data-id="13">独白</b>




                                        悄然躁动的围观人群再次混乱起来，有好事的中年妇女发出了凄厉尖叫。&nbsp;
                                    
                                </span><i class="end"></i>消防人员忙碌地在地上准备着充气救生垫。




                                一辆救护车猛地停下，打开的车门上跳下几个穿着白大褂的医护人员。




                                吴狄，肥四和石小猛就在这一片兵荒马乱中杀了出来。




                                一个青年警察上前拦阻着三人：挤什么，挤什么？平时缴税没见你们这么积极，一看有人自杀就亢奋了？




                                吴狄指着高处的林夏："同志，那人是我朋友！"




                                警察："女朋友？"




                                吴狄："不??就是朋友??"




                                石小猛："确切的说我们是她男朋友的朋友！和她也算是朋友！<i class="start"></i><span id="split-data-db-14" class="db">
                                    <b data-id="14">独白</b>
                                        "




                                        警察："那她男朋友人呢？有没有点责任心啊？"

                                        第一集

                                        林夏站在楼顶天台上。&nbsp;
                                    
                                </span><i class="end"></i>风声呼啸，发丝飞舞。




                                从楼顶往下看，楼下的大街上黑鸦鸦一片黑点状的人头。










                                楼下大街上人声嘈杂，路人们纷纷驻足，翘着脖子仰望。




                                媒体记者们扛着摄像机在寻找着最佳点位。




                                警察们在拉着警戒线，劝导人群退后。










                                天台上的林夏对楼下的一切无动于衷，只是把放在耳边的手机拿下，按下重拨键，再放在耳边。




                                手机中传来接通的长音，却始终无人接听。




                                林夏神情有些茫然，脚步微微往前挪动了半步。
                            </div>
                        </div>
                    </div>
                    <div class="cf-right">
                        <div id="cover-form" class="cover-form"></div>
                        <div class="cf-menu-title">一，楼顶，阿斯顿发斯蒂芬</div>
                        <div class="cf-menu-container"> 
                            <div class="cf-menu-main">
                                    <div id="cf-form" class="cf-form">
                                       <ul>
                                           <li><span>集：</span><input type="text"  id="episode" class="form-control input-min" value="" /></li>
                                           <li><span>场次：</span><input type="text" id="scene" class="form-control input-min" value="" /></li>
                                           <li><span>气氛：</span><select id="dn" class="form-control" style="width:36px;"><option>日</option><option>夜</option><option>日/夜</option></select></li>
                                           <li><span>内外：</span><select id="INTEXT" class="form-control"><option>内</option><option>外</option></select></li>
                                       </ul>
                                       <ul>
                                           <li><span>场景名称：</span><input type="text" id="sceneName" class="form-control input-min" value="" /></li>
                                           <li><span>拍摄地：</span><input type="text" id="toShoot" class="form-control input-min" value="" /></li>
                                       </ul>
                                       <ul>
                                           <li><span>页数：</span><input type="text" id="pagesNumber" class="form-control input-min" value="" /></li>
                                           <li><span>量（页数）：</span><input type="text" id="amount" class="form-control input-min" value="" /></li>
                                           <li><span>季时：</span><select id="season" class="form-control"><option>春季</option><option>夏季</option><option>秋季</option><option>冬季</option></select></li>
                                       </ul>
                                       <ul>
                                           <li><span>预拍天数 页数*（总周期 / 总天数）：</span><input type="text" id="total" class="form-control input-min" value="" /></li> 
                                       </ul>
                                       <ul>
                                           <li><span>简要说明：</span><input type="text" id="explain" class="form-control input-max" value="" /></li>
                                       </ul>
                                   </div>
                                    <div id="addeffects-list" class="addeffects-list"></div>
                                    <div id="effects-list" class="effects-list">
                                        <ul>  
                                            <li><i>+</i><a href="javascript:void(0)" data-id="1" data-select="COMP,DMP,Assets,VFX,MG">CG特效</a></li>
                                            <li><i>+</i><a href="javascript:void(0)" data-id="2">角色</a></li>
                                            <li><i>+</i><a href="javascript:void(0)" data-id="3">场景名称</a></li>
                                            <li><i>+</i><a href="javascript:void(0)" data-id="4">替身</a></li>
                                            <li><i>+</i><a href="javascript:void(0)" data-id="5">角色</a></li>
                                            <li><i>+</i><a href="javascript:void(0)" data-id="6">场景名称</a></li>
                                            <li><i>+</i><a href="javascript:void(0)" data-id="7">替身</a></li>
                                            <li><i>+</i><a href="javascript:void(0)" data-id="8">角色</a></li>
                                            <li><i>+</i><a href="javascript:void(0)" data-id="9">替身</a></li>
                                            <li><i>+</i><a href="javascript:void(0)" data-id="10">角色</a></li>
                                            <li><i>+</i><a href="javascript:void(0)">场景名称</a></li>
                                            <li><i>+</i><a href="javascript:void(0)">替身</a></li>
                                            <li><i>+</i><a href="javascript:void(0)">角色</a></li>
                                            <li><i>+</i><a href="javascript:void(0)">替身</a></li>
                                            <li><i>+</i><a href="javascript:void(0)">角色</a></li>
                                            <li><i>+</i><a href="javascript:void(0)">场景名称</a></li>
                                            <li><i>+</i><a href="javascript:void(0)">替身</a></li>
                                            <li><i>+</i><a href="javascript:void(0)">角色</a></li>
                                            <li><i>+</i><a href="javascript:void(0)">替身</a></li>
                                            <li><i>+</i><a href="javascript:void(0)">角色</a></li>
                                            <li><i>+</i><a href="javascript:void(0)">场景名称</a></li>
                                            <li><i>+</i><a href="javascript:void(0)">替身</a></li>
                                            <li><i>+</i><a href="javascript:void(0)">角色</a></li>
                                            <li><i>+</i><a href="javascript:void(0)">替身</a></li>
                                            <li><i>+</i><a href="javascript:void(0)">角色</a></li>
                                            <li><i>+</i><a href="javascript:void(0)">场景名称</a></li>
                                            <li><i>+</i><a href="javascript:void(0)">替身</a></li>
                                            <li><i>+</i><a href="javascript:void(0)">角色</a></li>
                                            <li><i>+</i><a href="javascript:void(0)">替身</a></li>
                                            <li><i>+</i><a href="javascript:void(0)">角色</a></li>
                                            <li><i>+</i><a href="javascript:void(0)">场景名称</a></li>
                                            <li><i>+</i><a href="javascript:void(0)">替身</a></li>
                                            <li><i>+</i><a href="javascript:void(0)">角色</a></li>
                                         </ul>
                                    </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <div id="footer">© Copyright 2017 首汇焦点</div>
    </div> 
    <div id="findReplace" style="display:none;">
             <div class="find-replace">
                 <p>查找替换</p>
                 <p><span>查找内容：</span><input type="text" data-el-id="txtfind" name="name" value="" class="form-control" onblur="textOperation.findKey(this)"/></p>
                 <p><span>替换为：</span><input type="text" data-el-id="txtreplace" name="name" value="" class="form-control"/></p>
                 <div>
                     <button class="btn ls" onclick="textOperation.replace()">替换</button>
                     <button class="btn ls" onclick="textOperation.replaceAll()">全部替换</button>
                     <button class="btn ls" onclick="textOperation.findNext()">查找下一处</button>
                     <button class="btn ls" onclick="$dialog.hideWindow('findreplace')">取消</button>
                 </div>
             </div>
    </div>  
</body>
</html>
