<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
	<meta charset="utf-8" /> 
    <link href="../static/css/common.css?t=a3213" rel="stylesheet" />
    <script src="../static/js/jquery-2.1.0.min.js"></script> 
</head>
<body>
    <div id="box">
        <div id="top">
            <h1 class="logo"></h1> 
        </div>
        <div id="content"> 
            <div class="login">
                <div>
                    <p class="username"><input type="text" class="form-control input-max" placeholder="请输入用户名" /></p>
                    <p><input type="text" class="form-control input-max" placeholder="请输入登录密码" /></p>
                    <p><button>立即登录</button></p>
                </div>
            </div>
        </div>
        <div id="footer">© Copyright 2017 首汇焦点</div>
    </div> 
</body>
</html>
