<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
	<meta charset="utf-8" />
    <link href="../static/css/common.css" rel="stylesheet" />
    <script src="./static/js/jquery-2.1.0.min.js"></script>
    <script src="./static/js/main.js"></script> 
</head>
<body>
    <div id="box">
        <div id="top">
            <h1 class="logo"></h1>
            <div class="object">
                <b>TMZ</b>
                <a>切换项目</a>
            </div>
            <div class="menu-container">
                <div id="menu" class="select">
                    <p>剧本拆分列表</p>
                    <div>
                        <a>预算</a>
                        <a>日历</a>
                        <a>进度</a>
                        <a>项目管理</a>
                        <a>用户管理</a>
                        <a>表格管理</a>
                    </div>
                </div>
                <div class="msg">
                    <a id="msg"><i>0</i></a>
                    <div>
                        <span id="close-msg"></span>
                        <p>09:00:00 AM 编号：00001 剧本有更新，请您审核！</p>
                        <p>09:00:00 AM 编号：00001 剧本有更新，请您审核！</p>
                        <p>09:00:00 AM 编号：00001 剧本有更新，请您审核！</p>
                        <p>09:00:00 AM 编号：00001 剧本有更新，请您审核！</p>
                    </div>
                </div>
                <div class="user"><span>您好，administrator</span></div>
                <div id="setting" class="setting">
                    <span></span>
                    <div>
                        <a>修改密码</a>
                        <a>系统管理</a>
                        <a>退出登录</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="content">
        <div class="index-menu"> 
            <table   border="0" cellspacing="30" cellpadding="0" class="menu-tab">
			  <tr>
				<td><a herf="#"><img src="../static/img/index/juben-icon.png"><span class="idx-menutext">剧本</span></a></td>
				<td><a herf="#"><img src="../static/img/index/changjing-icon.png"><span class="idx-menutext">场景</span></a></td>
				<td><a herf="#"><img src="../static/img/index/juese-icon.png"><span class="idx-menutext">角色</span></a></td>
				<td><a herf="#"><img src="../static/img/index/gushiban-icon.png"><span class="idx-menutext">故事版</span></a></td>
				<td><a herf="#"><img src="../static/img/index/texiao-icon.png"><span class="idx-menutext">特效</span></a></td>
				<td><a herf="#"><img src="../static/img/index/gainiantu-icon.png"><span class="idx-menutext">概念图</span></a></td>
			  </tr>
			  <tr>
				<td><a herf="#"><img src="../static/img/index/shengyin-icon.png"><span class="idx-menutext">声音</span></a></td>
				<td><a herf="#"><img src="../static/img/index/previz-icon.png"><span class="idx-menutext">Previz</span></a></td>
				<td><a herf="#"><img src="../static/img/index/yusuan-icon.png"><span class="idx-menutext">预算</span></a></td>
				<td><a herf="#"><img src="../static/img/index/jihua-icon.png"><span class="idx-menutext">计划</span></a></td>
				<td><a herf="#"><img src="../static/img/index/hetong-icon.png"><span class="idx-menutext">合同</span></a></td>
				<td><a herf="#"><img src="../static/img/index/shujubaobiao-icon.png"><span class="idx-menutext">数据报表</span></a></td>
			  </tr>
			  <tr>
				<td><a herf="#"><img src="../static/img/index/rili-icon.png"><span class="idx-menutext">日历</span></a></td>
				<td><a herf="#"><img src="../static/img/index/huiyijilv-icon.png"><span class="idx-menutext">会议记录</span></a></td>
				<td><a herf="#"><img src="../static/img/index/juzutongzhi-icon.png"><span class="idx-menutext">剧组通知</span></a></td>
				<td><a herf="#"><img src="../static/img/index/juzuxinxi-icon.png"><span class="idx-menutext">剧组信息</span></a></td>
				<td><a herf="#"><img src="../static/img/index/ps-icon.png"><span class="idx-menutext">人员管理</span></a></td>
				<td><a herf="#"><img src="../static/img/index/renwu-icon.png"><span class="idx-menutext">任务</span></a></td>
			  </tr>
			</table>

        </div>
        <div class="index-report-info">
            <h3>报表信息</h3>
            <ul>
                <li>
                    <span>剧本拆分总表</span><span><a href="/script/scripttable"><button class="btn lans">查看</button></a></span><span>概念图</span><span><a href="/chart/concept"><button class="btn lans">查看</button></a></span>
                    </li>
                <li>
                	<span>世界观地图</span><span><a href="/chart/worldview"><button class="btn lans">查看</button></a></span><span>心情图</span><span><a href="/chart/moodchart"><button class="btn lans">查看</button></a> </span>
                </li>
                <li>
                	<span>故事版</span><span><a href="/chart/story"><button class="btn lans">查看</button></a></span><span>角色照片</span><span><a href="/chart/role"><button class="btn lans">查看</button></a></span>                
                </li>
                 <li>
                 	<span>场景照片</span><span><a href="/chart/scene"><button class="btn lans">查看</button></a></span><span>详细拍摄计划</span><span><a href="/shooting/shootinglist"><button class="btn lans">查看</button></a></span>
                 </li>
            </ul>
        </div>
        <div class="index-report-info">
            <h3>新剧本</h3>
            <ul>
               	本项目暂无新剧本
            </ul>
        </div>
    </div>
        <div id="footer">© Copyright 2017 首汇焦点</div>
    </div> 
</body>
</html>
