<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
	<meta charset="utf-8" />
    <link href="../static/css/common.css" rel="stylesheet" />
    <script src="../static/js/jquery-2.1.0.min.js"></script>
    <script src="../static/js/main.js"></script> 
</head>
<body>
    <div id="box">
        <div id="top">
            <h1 class="logo"></h1>

            <div class="menu-container">
              
                <div class="user"><span>您好，administrator</span></div>
                <div id="setting" class="setting">
                    <span></span>
                    <div>
                        <a>修改密码</a>
                        <a>系统管理</a>
                        <a>退出登录</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="content">
            <div class="index-menu">
				<a href="视频上传.html"><span class="xm"><img src="../static/img/index/icon-xiangmu.png" /></span><p>视频管理</p></a>
                <a href="截屏列表分组.html"><span class="cf"><img src="../static/img/index/icon-chaifen.png" /></span>
                <p>截屏列表</p></a>
                <a href="截屏列表分组.html"><span class="jb"><img src="../static/img/index/icon-juben.png"></span><p>分组截屏列表</p></a>
                <a href="镜头拆分总表.html"><span class="ys"><img src="../static/img/index/icon-yusuan.png" /></span><p>镜头拆分总表</p></a>
				<a href="项目管理.html"><span class="tj"><img src="../static/img/index/icon-tongji.png" /></span><p>项目管理</p></a>
            </div>
        </div>
        <div id="footer">© Copyright 2017 首汇焦点</div>
    </div> 
</body>
</html>
