<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset="utf-8" />
    <link href="../static/css/common.css?t=12" rel="stylesheet" /> 
    <link href="../static/css/main.css" rel="stylesheet" /> 

</head>
<body>
    <div id="box">
        <div id="top">
            <h1 class="logo"></h1>

            <div class="menu-container">
              
                <div class="user"><span>您好，administrator</span></div>
                <div id="setting" class="setting">
                    <span></span>
                    <div>
                        <a>修改密码</a>
                        <a>系统管理</a>
                        <a>退出登录</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="content">
			 <div class="scriptlist-form-container">
                            <strong>截屏分组图片列表</strong>
                     
             </div>
            <div class="main">

                    <div class="left" id="panelLeft">
                        
                        <div class="creat-grouping-f">
                            <label>
                                <span>项目：</span>
                                <select class="form-control">
                                    <option value="value">A</option>
                                    <option value="value">B</option>
                                </select>
                            </label>
                            <label>
                                <span>级：</span>
                                <select class="form-control">
                                    <option value="value">A</option>
                                    <option value="value">B</option>
                                </select>
                            </label>
                            <label>
                                <span>文件名称：</span>
                                <input type="text" name="name" value="" class="form-control">
                                <button class="btn lans">搜索</button>
                            </label>
                            <label>
                                <span>分组：</span>
                                <select class="form-control">
                                    <option value="value">A</option>
                                    <option value="value">B</option>
                                </select>
                            </label>
                            <label>
                                <span>标签：</span>
                                
                                <input type="text" name="name" value="" class="form-control">
                                <a class="add"></a>
                                <button class="btn lans">保存</button>
                            </label>
                        </div>

                        <div class="grouping-box">
                            <div class="grouping-box-item">
                                <p><strong class="group-sort inlineblock">A组</strong>
                                    <span class="group-name inlineblock">哺乳动物</span>
                                    <input type="checkbox" name="" class="inlineblock" data-check-target=".id-checkbox"  onclick="selectAll(this)">全选
                                    <a herf="javascript:;" class="btn-del-group">删除</a>
                                </p>


                                <dl class="screenshot-item">
                                   <dt><input type="checkbox" name="" class="inlineblock id-checkbox"><span class="item-name">0010A001</span></dt>
                                   <dd><span><img src="../static/img/jt.png"></span></dd>                                 
                                </dl>

                                <dl class="screenshot-item"> 
                                   <dt><input type="checkbox" name="" class="inlineblock id-checkbox"><span class="item-name">0010A002</span></dt>
                                   <dd><span><img src="../static/img/jt.png"></span></dd>                                 
                                </dl>

                                <dl class="screenshot-item">
                                   <dt><input type="checkbox" name="" class="inlineblock id-checkbox"><span class="item-name">0010A003</span></dt>
                                   <dd><span><img src="../static/img/jt.png"></span></dd>
                                 
                                </dl>
                                <dl class="screenshot-item">
                                   <dt><input type="checkbox" name="" class="inlineblock id-checkbox"><span class="item-name">0010A004</span></dt>
                                   <dd><span><img src="../static/img/jt.png"></span></dd>
                                 
                                </dl>
                                <dl class="screenshot-item">
                                   <dt><input type="checkbox" name="" class="inlineblock id-checkbox"><span class="item-name">0010A001</span></dt>
                                   <dd><span><img src="../static/img/jt.png"></span></dd>
                                 
                                </dl>
                                <dl class="screenshot-item">
                                   <dt><input type="checkbox" name="" class="inlineblock id-checkbox"><span class="item-name">0010A001</span></dt>
                                   <dd><span><img src="../static/img/jt.png"></span></dd>
                                 
                                </dl>
                                 <dl class="screenshot-item">
                                   <dt><input type="checkbox" name="" class="inlineblock id-checkbox"><span class="item-name">0010A001</span></dt>
                                   <dd><span><img src="../static/img/jt.png"></span></dd>
                                 
                                </dl>
                                 <dl class="screenshot-item">
                                   <dt><input type="checkbox" name="" class="inlineblock id-checkbox"><span class="item-name">0010A001</span></dt>
                                   <dd><span><img src="../static/img/jt.png"></span></dd>
                                 
                                </dl>

                            </div>
                            <div class="grouping-box-item">
                                <p><strong class="group-sort inlineblock">B组</strong> <span class="group-name inlineblock">哺乳动物</span> <input type="checkbox"  class="inlineblock" data-check-target=".id-checkbox0"  onclick="selectAll(this)">全选</p>
                                <dl class="screenshot-item">
                                   <dt><input type="checkbox" name="" class="inlineblock id-checkbox0"><span class="item-name">0010A001</span></dt>
                                   <dd><span><img src="../static/img/jt.png"></span></dd>
                                 
                                </dl>
                                 <dl class="screenshot-item">
                                   <dt><input type="checkbox" name="" class="inlineblock id-checkbox0"><span class="item-name">0010A001</span></dt>
                                   <dd><span><img src="../static/img/jt.png"></span></dd>
                                 
                                </dl>
                            </div>

                        </div>

                    </div>
                    
                    <div id="panelSwitch"><span class="bar-panel">收缩</span></div>

                    <div id="panelRight" class="right">
                 
                            <h1 class="panel-title">镜头批量操作</h1>
                          
                            <div class="imginfo">
                                <span>镜头难度：</span>
                                <select class="form-control" id="Difficulty" name="Difficulty">
                                    <option value="A+">A+</option>
                                    <option value="A">A</option>
                                    <option value="B">B</option>
                                    <option value="C">C</option>
                                    <option value="D">D</option>
                                    <option value="E">E</option>
                                </select>
                                <span class="ml10">镜头优先级：</span>
                                <select class="form-control" id="Priority" name="Priority">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>
                            <div class="imginfo">
                                <span>镜头描述：</span>
                                <input type="text" name="Description" class="form-control txt-max" id="Description">
                            </div>
							<div class="imginfo">
                                <p>镜头描述：</p>
                                <textarea  rows="2" class="txt-textarea">D：特效名称1；C：特效名称2</textarea>
                            </div>
                            <div id="assetsInfo" class="assetsInfo">
                                <div id="assetsInfoList"><a>工地？</a><a>伤口？</a><a>南诏地宫</a></div>							
                                <p class="base"><span>特效类型：</span><select class="form-control"><option value="">请选择</option><option value="Assets">Assets</option><option value="DMP">DMP</option><option value="Matchmove/ Track">Matchmove/Track</option><option value="Anim">Anim</option><option value="Light">Light</option><option value="Hair">Hair</option><option value="MG">MG</option><option value="FX">FX</option><option value="Roto">Roto</option><option value="Paint">Paint</option><option value="Comp">Comp</option></select><span>名称：</span><input type="text" class="form-control">
                                <span>难度：</span><select class="form-control"><option value="">请选择</option><option value="A">A</option><option value="B">B</option><option value="C">C</option><option value="D">D</option><option value="E">E</option></select><span>Manday: </span><input type="text" class="form-control">
                                <a class="add"></a>
                                </p>
                            </div>
                            <div class="imginfo" style="margin-top:10px;text-align:center;">
                                <a class="btncommon lan" id="btnsave">保存</a>
                                <a class="btncommon lan" id="btncancel">取消</a>
                            </div>
                     
                    </div>
                </div>
        </div>
        <div id="footer">© Copyright 2017 首汇焦点</div>
    </div>
    <script src="../static/js/jquery-2.1.0.min.js"></script>
    <script src="../static/js/main.js"></script> 
    <script src="../static/js/common.js"></script> 
    <script type="text/javascript">
   


   $(function(){

        //折叠面板
        $("#panelSwitch").on("click",function(){

            var $left = $("#panelLeft");
            var $right = $("#panelRight");

                if($right .css("display")=="none"){

                   $right.show();
                   $(".main").removeClass("active");
                }else{

                    $right.hide();
                    $(".main").addClass("active");
                }                             
        })

        $(document).on('click', '#assetsInfo p a', function () {
              var a=$(this); 
                if (a.attr("class")=="add") {
                    a.hide();
                    var str="<p><span>特效类型：</span><select class='form-control'><option value=\"\">请选择</option><option value=\"Assets\">Assets</option><option value=\"DMP\">DMP</option><option value=\"Matchmove/Track\">Matchmove/Track</option><option value=\"Anim\">Anim</option><option value=\"Light\">Light</option><option value=\"Hair\">Hair</option><option value=\"MG\">MG</option><option value=\"FX\">FX</option><option value=\"Roto\">Roto</option><option value=\"Paint\">Paint</option><option value=\"Comp\">Comp</option></select><span>名称：</span><input type=\"text\" class='form-control'><span>难度：</span><select class='form-control'><option value=\"\">请选择</option><option value=\"A\">A</option><option value=\"B\">B</option><option value=\"C\">C</option><option value=\"D\">D</option><option value=\"E\">E</option></select><span>Manday:</span><input type=\"text\" class='form-control'><a class=\"add\"></a><a class=\"del\"></a></p>";
                    $("#assetsInfo").append(str);
                }else { 
                    var p= a.parent();
                    if (p.next().length==0) {
                        p.prev().find("a").show();
                    }
                    p.remove();
                } 
                
            })


　　});
      
    </script>

</body>
</html>
